[buildout]
develop = . scripts
newest = false
parts = openoffice plone zope2 productdistros instance zopepy PILwoTK scripts
find-links = 
	http://dist.plone.org
	http://download.zope.org/distribution/
	http://effbot.org/downloads
extends = versions.cfg
versions = versions
eggs =
	elementtree
        psj.policy

[versions]
Products.Relations = 0.8.1
Products.LinguaPlone = 2.2

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[productdistros]
recipe = plone.recipe.distros
urls = http://plone.org/products/arfilepreview/releases/2.2.0-pre2/arfilepreview-2-2-0-pre2.tgz
nested-packages = 
version-suffix-packages =

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-port = 8080
debug-mode = on
verbose-security = on
eggs =
     ${plone:eggs}
     ${buildout:eggs}
     PILwoTK
     pyuno
zcml =
    psj.policy
products =
    ${productdistros:location}
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[openoffice]
recipe = z3c.recipe.openoffice
install-pyuno-egg = yes
hack-openoffice-python = no
unpack-name = OOH680_m12_native_packed-1_en-US.9286
version = 2.4
# download-url = ftp://ftp.openoffice.skynet.be/pub/ftp.openoffice.org/stable/2.3.1/OOo_2.3.1_LinuxIntel_install_en-US.tar.gz
download-url = http://ftp-atl.osuosl.org/pub/openoffice/stable/2.4.0/OOo_2.4.0_LinuxIntel_install_en-US.tar.gz

[PILwoTK]
# A PIL package that works with buildout...
recipe = zc.recipe.egg
find-links =
    http://download.zope.org/distribution/

[scripts]
recipe = zc.recipe.egg
eggs = 
    psj.policy
    psjscripts
    pyuno
